#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science.\
-Python\
-Java\
-C++

Some of the popular languages that Data Scientists use are:\
1-Java\
2-Python\
3-C++

Some of the commonly used libraries used by Data Scientists include:
1-Matplotlib\
2-Keras. \
3-Pillow.

Data Science Tools\
1-InteliJ\
2-Eclips\
3-Visula Studio

###Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
a=(3*4)+5
print('This a simple arithmetic expression to mutiply then add integers')
print(a)

In [ ]:
a=(3*4)+5
print('This a simple arithmetic expression to mutiply then add integers')
print(a)

In [ ]:
 print('This will convert 200 minutes to hours by diving by 60')
a=200/60
print(a)

## Author
Olcay